
<div class="col-lg-6">
<h1><%-title %></h1>
<ul class="list-group">
    <% things.forEach(thing => { %>
        <li class="list-group-item">
            <%= thing %>
        </li>
    <% }); %>
</ul>
</div>

 <div class="col-lg-6">
    <h1 class="display-4 mb-4">
       Please Register
    </h1>
    <form action="/register" method="POST" accept-charset="utf-8">
        <div class="form-group">
            <input type="text" class="form-control form-control-lg" name="matNum" placeholder="Mat No">
        </div>
        <div class="form-group">
            <input type="text" class="form-control form-control-lg" name="studentName" placeholder="Name">
        </div>
        <div class="form-group">
            <input type="password" class="form-control form-control-lg" name="password" placeholder="password">
        </div>
        <input type="submit" value="Add" class="btn btn-dark btn-lg mt-4">
        <a href="/" class="btn btn-danger btn-lg mt-4">Cancel</a>
    </form>
 </div>